In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('teens.csv')

In [4]:
#feature selection #4

In [19]:
data.iloc[:,1038:1040]

       NEDCOC  NEDSTM
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0
...       ...     ...
35873       0       0
35874       0       0
35875       0       0
35876       0       0
35877       0       0

[35878 rows x 2 columns]

In [21]:
columns = ['CIGAFU','DCIGAFU','CIGMDAYS','ALCAFU2','ALCYDAYS','ALCMDAYS'
          ,'MJAFU','MRJYDAYS','MRJMDAYS','COCYDAYS','COCMDAYS','HALYDAYS',
          'HALMDAYS','INHYDAYS','INHMDAYS','STMYDAYS','CIGAVGD','CIGAVGM'
          ,'ALCAVGM','HRSMKREC']

<h3> Cigarette </h3>

#1. CIGAFU

CIGAFU CIGARETTE AGE OF FIRST USE - CATEGORIZED RECODE
1	14 Years or Younger (IRCIGAGE=1-14)<br>

2	15-17 Years Old (IRCIGAGE=15-17)<br>

3	18 Years or Older (IRCIGAGE=18+)<br>

4	Non Users (IRCIGAGE=991)

#2. DCIGAFU

DAILY CIG AGE OF FIRST USE - CATEGORIZED RECODE


1	14 Years or Younger (IRCIGAGE=1-14)<br>

2	15-17 Years Old (IRCIGAGE=15-17)<br>

3	18 Years or Older (IRCIGAGE=18+)<br>

4	Non Users (IRCIGAGE=991,993)

#3. CIGMDAYS # OF DAYS USED CIGARETTES IN PAST MONTH<br>

1 = 1-2 Days<br>
2 = 3-5 Days<br>
3 = 6-19 Days<br>
4 = 20-29 Days<br>
5 = 30 Days<br>
6 = Non User<br>

#4. CIGAVGD AVG NUMBER OF CIGARETTES SMOKED PER DAY
<br>
-9.0     not used<br>
 0.5     less than 1<br>
 1        1<br>
 3.5      2-5 <br>
 10.5     6-15<br>
 20.5     16-25<br>
 30.5     26-35<br>
 50.0      50
<br>

#5. CIGAVGM NUMBER OF CIGARETTES SMOKED PER USER IN PAST MONTH
range = 0.5-1500<br>
-9.0  not used<br>


<h3> Alcohol </h3>

#1. ALCAFU2. ALCOHOL AGE OF FIRST USE - CATEGORIZED RECODE 2


1 = 13 Years or Younger <br>
2 = 14-17 Years Old (IRALCAGE=14-17)<br>
3 = 18-20 Years Old (IRALCAGE=18 -20)<br>
4 = 21 Years or Older (IRALCAGE=21+)<br>
5 = Non Users (IRALCAGE=991)<br>

#2 ALCYDAYS. # OF DAYS USED ALCOHOL IN PAST YEAR

1 = 1-11 Days<br>
2 = 12-49 Days<br> 
3 = 50-99 Days<br>
4 = 100-299 Days<br>
5 = 300-365 Days <br>
6 = Non User

#3 ALCMDAYS. # # OF DAYS USED ALCOHOL IN PAST MONTH<br>
1 = 1-2 Days<br>
2 = 3-5 Days<br>
3 = 6-19 Days<br>
4 = 20-29 Days<br>
5 = 30 Days<br>
6 = Non User<br>

#4. ALCAVGM. NUMBER OF ALC BEVS DRANK PER USER IN PAST MONTH
range = 1-1800
<br>
-9.0 = not used<br>


<h3> Marijuana </h3>

#1. MJAFU. MARIJUANA AGE OF FIRST USE - CATEGORIZED RECODE
1	14 Years or Younger (IRCIGAGE=1-14)<br>

2	15-17 Years Old (IRCIGAGE=15-17)<br>

3	18 Years or Older (IRCIGAGE=18+)<br>

4	Non Users (IRMJAGE=991)

#2 MRJYDAYS. # OF DAYS USED Marijuana IN PAST YEAR<br>
1 = 1-11 Days<br>
2 = 12-49 Days<br> 
3 = 50-99 Days<br>
4 = 100-299 Days<br>
5 = 300-365 Days <br>
6 = Non User

#3 MRJMDAYS. # # OF DAYS USED Marijuana IN PAST MONTH<br>
1 = 1-2 Days<br>
2 = 3-5 Days<br>
3 = 6-19 Days<br>
4 = 20-29 Days<br>
5 = 30 Days<br>
6 = Non User<br>

<h2> Drug</h2>

<h3>A. Cocaine</h3><br>
<br>
#1. COCYDAYS. # OF DAYS USED COCAINE IN PAST YEAR
1 = 1-11 Days<br>
2 = 12-49 Days<br> 
3 = 50-99 Days<br>
4 = 100-299 Days<br>
5 = 300-365 Days <br>
6 = Non User

#2 COCMDAYS.  # OF DAYS USED COCAINE IN PAST MONTH<br>
1 = 1-2 Days<br>
2 = 3-5 Days<br>
3 = 6-19 Days<br>
4 = 20-30 Days<br>
5 = Non User<br>

<h3>B. HALLUCINOGENS</h3><br>
#1. HALYDAYS. # OF DAYS USED HALLUCINOGENS IN PAST YEAR<br>
1 = 1-11 Days<br>
2 = 12-49 Days<br> 
3 = 50-99 Days<br>
4 = 100-299 Days<br>
5 = 300-365 Days <br>
6 = Non User

#2. HALMDAYS.  # OF DAYS USED HALLUCINOGENS IN PAST MONTH<br>
1 = 1-2 Days<br>
2 = 3-5 Days<br>
3 = 6-19 Days<br>
4 = 20-30 Days<br>
5 = Non User<br>

#3. HRSMKREC. TIME SINCE LAST SMOKED HEROIN
<br>
1 = Within the past 30 days
<br>
2 = More than 30 days ago but within the past 12  
<br>
3 = More than 12 months ago .
<br>
9 = At some point in the lifetime LOG ASSN <br>
13 = More than 12 months ago LOGICALLY ASSIGNED
<br>
91 = NEVER USED HEROIN
<br>
93 = USED HEROIN BUT NEVER SMOKED IT
<br>
97 = REFUSED <br>
98 = BLANK (NO ANSWER)

<br>
<h3>C. INHALANTS</h3><br>
#1. INHYDAYS # OF DAYS USED INHALANTS IN PAST YEAR
1 = 1-11 Days<br>
2 = 12-49 Days<br> 
3 = 50-99 Days<br>
4 = 100-299 Days<br>
5 = 300-365 Days <br>
6 = Non User

#2. INHMDAYS.  # OF DAYS USED INHALANTS IN PAST MONTH<br>
1 = 1-2 Days<br>
2 = 3-5 Days<br>
3 = 6-19 Days<br>
4 = 20-30 Days<br>
5 = Non User<br>

<h3> D. STIMULANTS</h3><br>
#1. STMYDAYS. # OF DAYS USED STIMULANTS IN PAST YEAR
1 = 1-11 Days<br>
2 = 12-49 Days<br> 
3 = 50-99 Days<br>
4 = 100-299 Days<br>
5 = 300-365 Days <br>
6 = Non User

In [23]:
feature_data = data[columns]
feature_data

,CIGAFU,DCIGAFU,CIGMDAYS,ALCAFU2,ALCYDAYS,ALCMDAYS,MJAFU,MRJYDAYS,MRJMDAYS,COCYDAYS,COCMDAYS,HALYDAYS,HALMDAYS,INHYDAYS,INHMDAYS,STMYDAYS,CIGAVGD,CIGAVGM,ALCAVGM,HRSMKREC
0,3,4,1,5,6,5,4,6,5,6,5,6,5,6,5,6,1.0,1.0,-9.0,91
1,1,4,6,1,2,1,1,5,4,1,1,1,1,6,5,6,-9.0,-9.0,30.0,91
2,1,4,1,2,6,5,4,6,5,6,5,6,5,6,5,6,0.5,1.0,-9.0,91
3,3,4,6,3,4,3,4,6,5,6,5,6,5,6,5,6,-9.0,-9.0,10.0,91
4,2,2,4,2,4,3,2,2,5,6,5,6,5,6,5,6,3.5,70.0,108.0,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35873,4,4,6,5,6,5,4,6,5,6,5,6,5,6,5,6,-9.0,-9.0,-9.0,91
35874,3,4,6,2,4,3,2,6,5,6,5,6,5,6,5,6,-9.0,-9.0,17.0,91
35875,4,4,6,5,6,5,4,6,5,6,5,6,5,6,5,6,-9.0,-9.0,-9.0,91
35876,2,4,6,2,2,2,2,6,5,6,5,6,5,6,5,6,-9.0,-9.0,6.0,91
35877,4,4,6,5,6,5,4,6,5,6,5,6,5,6,5,6,-9.0,-9.0,-9.0,91